<div class="container">
  <div class="legend">
    <p>Máscara</p>
    <div class="legend-items">
      <div class="legend-item">
        <img src="./assets/material/images/png/required-mask.png" alt="Máscara obrigatória">
        <p>Obrigatório</p>
      </div>
      <div class="legend-item">
        <img src="./assets/material/images/png/recommended-mask.png" alt="Máscara recomendada">
        <p>Recomendado</p>
      </div>
    </div>
  </div>

  <div class="legend">
    <p>Toalha</p>
    <div class="legend-items">
      <div class="legend-item">
        <img src="./assets/material/images/png/required-towel.png" alt="Toalha obrigatória">
        <p>Obrigatório</p>
      </div>
      <div class="legend-item">
        <img src="./assets/material/images/png/recommended-towel.png" alt="Toalha recomendada">
        <p>Recomendado</p>
      </div>
    </div>
  </div>

  <div class="legend">
    <p>Bebedouro</p>
    <div class="legend-items">
      <div class="legend-item">
        <img src="./assets/material/images/png/partial-fountain.png" alt="Bebedouro parcial">
        <p>Parcial</p>
      </div>
      <div class="legend-item">
        <img src="./assets/material/images/png/not_allowed-fountain.png" alt="Bebedouro proibido">
        <p>Proibido</p>
      </div>
    </div>
  </div>

  <div class="legend">
    <p>Vestiários</p>
    <div class="legend-items">
      <div class="legend-item">
        <img src="./assets/material/images/png/allowed-lockerroom.png" alt="Vestiário liberado">
        <p>Liberado</p>
      </div>
      <div class="legend-item">
        <img src="./assets/material/images/png/partial-lockerroom.png" alt="Vestiário parcial">
        <p>Parcial</p>
      </div>
      <div class="legend-item">
        <img src="./assets/material/images/png/closed-lockerroom.png" alt="Vestiário Fechado">
        <p>Parcial</p>
      </div>
    </div>
  </div>
</div>
