.container{
  width: 90vw;
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding: 1.5em;
  background-color: var(--lighter-grey);

  img{
    width: 5em;
  }
}

.legend{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p{
    font-weight: 700;
  }
}

.legend-items{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em 0;
}

.legend-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 .5em;
  p{
    font-weight: 500;
    font-size: 1.1em;
  }
}

@media screen and (min-width: 78em) {

  .container{
    width: 70vw;
    flex-direction: row;
    justify-content: space-around;

    img{
      width: 3em;
    }
  }

  .legend-item{
    p{
      font-size: .9em;
    }
  }
}

@media screen and (min-width: 95em) {

  .legend{
    transform: scale(1.25);
  }
}
