<div class="card">
  <p class="opened" [style.color]="card.opened ? '#2FC022': '#dc0a17'">{{ card.opened ? 'Aberto' : 'Fechado'}}</p>
  <h3>{{ card.title }}</h3>
  <p [innerHTML]="card.content"></p>
  <div id="divider"></div>
  <div class="icons">
    <img *ngIf="card.mask" [src]="'./assets/material/images/png/' + card.mask +'-mask.png'" alt="Máscara">
    <img *ngIf="card.towel" [src]="'./assets/material/images/png/' + card.towel +'-towel.png'" alt="Toalha">
    <img *ngIf="card.fountain" [src]="'./assets/material/images/png/' + card.fountain +'-fountain.png'" alt="Bebedouro">
    <img *ngIf="card.locker_room" [src]="'./assets/material/images/png/' + card.locker_room +'-lockerroom.png'" alt="Vestiário">
  </div>
  <ul class="schedules">
    <li *ngFor="let schedule of card.schedules" >
      <strong>{{ schedule.weekdays }}</strong>
      <p>{{ schedule. hour}}</p>
    </li>
  </ul>
</div>
