<div class="container">
  <div class="time">
    <img src="./assets/material/images/png/icon-hour.png" alt="Ícone de relógio">
    <p> Horário</p>
  </div>

  <h4>Qual período quer treinar?</h4>
  <form class="options" [formGroup]="form">
    <div class="option">
      <div>
        <input type="radio" name="hour" id="morning" value="morning" formControlName="hour">
        <label for="morning"><span></span> Manhã</label>
      </div>
      <p>06:00 às 12:00</p>
    </div>
    <div class="option">
      <div>
        <input type="radio" name="hour" id="afternoon" value="afternoon" formControlName="hour">
        <label for="afternoon"><span></span> Tarde</label>
      </div>
      <p>12:01 às 18:00</p>
    </div>
    <div class="option">
      <div>
        <input type="radio" name="hour" id="evening" value="evening" formControlName="hour">
        <label for="evening"><span></span> Noite</label>
      </div>
      <p>18:01 às 23:00</p>
    </div>

    <div class="checkbox">
      <div>
        <input type="checkbox" id="show-closed" formControlName="showClosed" [checked]="form.value.showClosed">
        <label for="show-closed"><span></span> Exibir unidades fechadas</label>
      </div>
      <p>Resultados encontrados: <strong>{{ filteredResults.length }}</strong></p>
    </div>

  </form>

  <div class="buttons">
    <button class="button yellow-button" (click)="onSubmit()">Encontrar unidade</button>
    <button class="button" (click)="onClean ()">Limpar</button>
  </div>

</div>

