<div class="container">
  <div class="time">
    <img src="./assets/material/images/png/icon-hour.png" alt="Ícone de relógio">
    <p> Horário</p>
  </div>

  <h4>Qual período quer treinar?</h4>
  <div class="options">
    <div class="option">
      <div>
        <input type="radio" name="hour" id="morning" value="morning">
        <label for="morning"><span></span> Manhã</label>
      </div>
      <p>06:00 às 12:00</p>
    </div>
    <div class="option">
      <div>
        <input type="radio" name="hour" id="afternoon" value="afternoon">
        <label for="afternoon"><span></span> Tarde</label>
      </div>
      <p>12:01 às 18:00</p>
    </div>
    <div class="option">
      <div>
        <input type="radio" name="hour" id="evening" value="evening">
        <label for="evening"><span></span> Noite</label>
      </div>
      <p>18:01 às 23:00</p>
    </div>
  </div>
  <div class="checkbox">
    <div>
      <input type="checkbox" id="chk">
      <label for="chk"><span></span> Exibir unidades fechadas</label>
    </div>
    <p>Resultados encontrados: <strong>0</strong></p>
  </div>

  <div class="buttons">
    <button class="button yellow-button">Encontrar unidade</button>
    <button class="button">Limpar</button>
  </div>

</div>
